[submodule "export/_config/awesome.symlink/vicious"]
	path = export/_config/awesome.symlink/vicious
	url = http://git.sysphere.org/vicious
[submodule "export/_config/awesome.symlink/screenful"]
	path = export/_config/awesome.symlink/screenful
	url = https://github.com/dluksza/screenful.git
[submodule "export/_oh-my-zsh/custom/plugins.symlink/zsh-syntax-highlighting"]
	path = export/_oh-my-zsh/custom/plugins.symlink/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "export/_tmux.symlink/tmux-powerline"]
	path = export/_tmux.symlink/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "lib/bats"]
	path = lib/bats
	url = https://github.com/sstephenson/bats.git
[submodule "export/_vim/unbundle.symlink/doctorjs"]
	path = export/_vim/unbundle.symlink/doctorjs
	url = https://github.com/mozilla/doctorjs.git
