[submodule "export/_config/awesome.symlink/screenful"]
	path = export/_config/awesome.symlink/screenful
	url = https://github.com/dluksza/screenful.git
[submodule "export/_tmux.symlink/tmux-powerline"]
	path = export/_tmux.symlink/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "lib/bats"]
	path = lib/bats
	url = https://github.com/sstephenson/bats.git
[submodule "export/_vim/unbundle.symlink/doctorjs"]
	path = export/_vim/unbundle.symlink/doctorjs
	url = https://github.com/mozilla/doctorjs.git
[submodule "export/_fzf.symlink"]
	path = export/_fzf.symlink
	url = https://github.com/junegunn/fzf.git
[submodule "export/_tmux.symlink/plugins/tpm"]
	path = export/_tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "export/_zgen.symlink"]
	path = export/_zgen.symlink
	url = https://github.com/tarjoilija/zgen.git
