set clipboard=unnamedplus,unnamed,ideaput
set surround
set ideajoin
set ideamarks " Sync marks and idea bookmarks

let mapleader = ","
" To get actions list you can run `:actionlist <search>`

" General
inoremap jk <esc>
nnoremap <leader>sv :source ~/.ideavimrc<cr>
map p <Action>($Paste)
vnoremap <C-c> "+yy
nnoremap <leader>bb :action SelectInProjectView<cr>
nnoremap <leader>bt :action ActivateProjectToolWindow<cr>

" Actions
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
nnoremap <space>e :action SearchEverywhere<cr>
nnoremap <space>E :action Switcher<cr>
nnoremap <space>t :action GotoSymbol<cr>
nnoremap <space>a :action GotoAction<cr>
nnoremap <space>to :action ActivateTerminalToolWindow<cr>

" Cursive
nnoremap <leader>W :action :cursive.actions.paredit/wrap-paren<cr>
nnoremap <leader>w( :action :cursive.actions.paredit/wrap-paren<cr>
nnoremap <leader>w[ :action :cursive.actions.paredit/wrap-square<cr>
nnoremap <leader>w{ :action :cursive.actions.paredit/wrap-curly<cr>
nnoremap <leader>< :action :cursive.actions.paredit/barf-forwards<cr>
nnoremap <leader>> :action :cursive.actions.paredit/slurp-forwards<cr>
nnoremap <leader>S :action :cursive.actions.paredit/splice<cr>
nnoremap cpp :action :cursive.repl.actions/run-last-sexp<cr>
nnoremap cpP :action :cursive.repl.actions/run-top-sexp<cr>
nnoremap cpr :action :cursive.repl.actions/load-file<cr>
nnoremap cpR :action :cursive.repl.actions/sync-files<cr>

" Debug
nnoremap \c :action Stop<cr>
nnoremap \d :action Debug<cr>
nnoremap \D :action ChooseDebugConfiguration<cr>
nnoremap \r :action Run<cr>
nnoremap \R :action ChooseRunConfiguration<cr>
nnoremap <leader>d\ :action Resume<CR>
nnoremap <leader>d' :action StepOver<CR>
nnoremap <leader>d; :action StepInto<CR>
nnoremap <leader>d: :action StepOut<CR>
nnoremap <leader>dt :action Debug<CR>
nnoremap <leader>dr :action ActivateDebugToolWindow<CR>
nnoremap <leader>de :action QuickEvaluateExpression<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<cr>

nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>ri :action Inline<CR>
nnoremap gr :action ShowUsages<cr>
nnoremap E :action RecentFiles<cr>
nnoremap F :action ReformatCode<cr>
nnoremap <space>o :action FileStructurePopup<cr>
nnoremap <leader>, :action GotoFile<cr>
